*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --primary-color:rgb(221, 152, 47);
    --font:'Roboto', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px black;
}
.logo{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
}
.logo img{
    height: 130px;
    width: 130px;
    margin-left: 70px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar a{
    text-decoration: none;
    padding: 0px 10px;
    margin: 0px 7px;
    color: black;
    position: relative; 
}
.navbar a:hover{
    color:var(--primary-color);
}
.navbar a::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 1px;
    background-color: var(--primary-color);
    opacity: 0;
    width: 5%;
    transition: .4s;
}
.navbar a:hover::after{
    opacity: 1;
    width: 100%;
}
.navbar li{
    list-style: none;
    font-style: var(--font);
    font-size: 20px;
}
.nav-icon{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 50px;
    
}
.cart-icon{
    font-size: 20px;
}
.nav-icon li{
    list-style: none;
    margin: 0px 1rem;
}
.nav-icon li sup{
    margin: 3px 5px;
    padding: 2px 3px;
    color: white;
    background-color: rgb(255, 8, 8);
}
.nav-icon .search-icon{
    padding: 6px;
    margin: 6px;
    background-color: var(--primary-color);
}
/* hero section starts here */
.header-banner{
    margin: 0 auto;
    position: relative;
    width: 85%;
    height: 670px;
    display: flex;
    justify-content: center;
}
.header-banner .intro{
    height: 500px;
    width: 500px;
    padding: 20px;
    margin-right: 60px;
    margin-top: 100px;
    margin-left: -100px; 
}
.header-banner .intro h1{
    margin-bottom: 35px;
    font-size: 50px;
}
.header-banner .intro p{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 35px;
}
.header-banner .intro span{
    color: var(--primary-color);
    
}
.header-banner .cover-img{
    margin-left: 50px;
}
.header-banner .intro .intro-btn{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 7px;
    background-color: var(--primary-color);
    transition: .4s ease;
}
.header-banner .intro .intro-btn:hover{
    background-color: transparent;
    border: 2px solid black;
    color: black;
    height: 50px;
    width: 160px;
}
.social-icons{
    position: fixed;
    top: 300px;
    right: 16px;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    
}

.social-icons a{
    padding: 15px;
    margin: 15px;
    color: black;
    border-radius: 7px;
    transition: .3s ;
    background-color: var(--primary-color);
}
.social-icons a:hover{
    background-color: transparent;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;

}
/* single product starts */
.single-product{
    margin-top: 20px;
    background-color: aliceblue;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.single-product .single-discriptions{
    height: 300px;
    width: 500px;
    padding: 10px;
    margin-left: 60px;

}
.single-product .single-discriptions h2{
    font-size: 30px;
    font-weight: bolder;
    font-family: var(--font);
    margin: 20px 0px;
}
.single-product .single-discriptions p{
    font-size: 20px;
    text-align: justify;
    padding: 5px;
    margin-bottom: 25px;
}
 .single-button{
    height: 40px;
    width: 150px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    transition: .4s ease;
}
 .single-button:hover{
    background-color: transparent;
    border: 2px solid black;
    height: 50px;
    width: 160px;

}

/* product section starts from here */
.product-h1{
    font-size: 40px;
    margin-top: 50px;
    text-align:  center;
}
.all-products{
    margin-top: 100px;
    margin: 0 auto;
    height: 850px;
}

.product{
    margin: 0px 20px 0px 20px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center; 
}
.prodcard{
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.prodcard img{
    height: 60%;
    width: 70%;
    
}
.product-discriptions{
    text-align: center;
}
.product-discriptions h3{
    margin: 10px;
}
.product-discriptions p{
    margin-bottom: 20px;
}
.product-btn a{
    text-decoration: none;
}
.btn-primary{
   background-color: var(--primary-color); 
    transition: .4s;
}
.btn-primary:hover{
    background-color: transparent;
    border: 2px solid black;
    padding: 8px 25px;
}
 .btn-transparent{
    border: 2px solid var(--primary-color);
    transition: .4s;
}
.btn-transparent:hover{
     background-color: var(--primary-color);
     padding: 8px 25px;
}

.btn{
    padding: 5px 15px;
    border-radius: 6px;
}  

/* blog setion starts */
.posts{
    background-color: aliceblue;
}
.blog-posts{
    margin: 0px 100px 0px 100px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(3,1fr); 

}
.blog-heading{
    padding-top: 40px;
    margin-top: 60px;
    font-size: 40px;
    text-align: center;
    font-family: var(--primary-color);
}

.post-card{
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 50px;
    height: 500px;
    width: 350px;
    box-shadow: 0px 0px 10px black;
   transition: 0.2s;
}
.post-card:hover{
    height: 520px;
    width: 370px;
}
.post-discriptions{
    padding: 10px;
    margin: 8px 5px;
}
.post-discriptions h2{
    margin-bottom: 10px;
}
.post-discriptions p{
    text-align: justify;
    margin-bottom: 10px;
}

.post-card img{
    height: 50%;
    width: 100%;

}
.post-btn{

    background-color: var(--primary-color);
    margin-top: 10px;
    padding: 15px 35px;
    border: none;
    border-radius: 7px;
    transition: 0.4s;

}
.post-btn:hover{
    border: 2px solid black;
    padding: 18px 42px;
    background: transparent;
}
/* contact us section starts from here */
.contact-section{
    padding-top: 100px;
    height: 350px;
}
.heading-form{
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
    width: 80%;
    height: 170px;
    background-color: var(--primary-color);
}

.heading{
    font-family: var(--font);
    font-size: 20px;
    margin-right: 200px;
    color: aliceblue;
    padding: 10px;
}
.contact-form{
    margin: 20px;
    padding: 10px;

}
.gmail{
    padding: 10px 100px;
    border: none;
}
.form-btn{
    padding: 10px 30px;
    margin: 15px 0px;
    border: none;
    border-radius: 5px;
    transition: .3s;
}
.form-btn:hover{
    border: 2px solid black;
    background: transparent;
}

/* footer section starts from here */
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: var(--primary-color);
}

.footer-li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    
   
}
.footer-li li{
    list-style: none;
}

.footer-li a{
    text-decoration:none;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.footer-li a:hover{
    color: aliceblue;
}

